
# Apple Finder Database

.DS_Store

## Outmoded source tracking
CVS/

# Microsoft VS

*.sdf
*.suo
*.user
*.sln.docstates
*.db
*.ipch
.vs/

# XCode

*.mode1
*.mode2v3
*.mode1v3
*.pbxuser
*.perspectivev3

!default.pbxuser
!default.mode1
!default.mode1v3
!default.mode2v3
!default.perspectivev3

xcuserdata/

# Build Directories

build-win/
build-mac/
build-intermediate/

